<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Employee Attendance Form</title>
</head>

<body>

<div class="container">

    <h3>Employee Attendance Form</h3>
    <hr>
    <p class="h4 mb-4">Create Employee Attendance </p>

    <form action="#" th:action="@{/employeesAttendance/save}"
           th:object="${employeeAttendance}" method="POST">
        Employee ID
        <input type="text" th:field="*{employeeId}"
               class="form-control mb-4 w-25" placeholder="Employee ID" />

        Employee Name
        <input type="text" th:field="*{employeeName}"
               class="form-control mb-4 w-25" placeholder="Employee Name" />
        Attendance Date
        <input type="date" th:field="*{{attendanceDate}}"
               class="form-control mb-4 w-25" placeholder="Attendance Date" />
        Check-In Time
        <input type="datetime-local" th:field="*{{checkinTime}}"
               class="form-control mb-4 w-25" placeholder="Check In Time" />
        Check-Out Time
        <input type="datetime-local" th:field="*{{checkoutTime}}"
               class="form-control mb-4 w-25" placeholder="Check Out Time" />
        Office Location
        <input type="text" th:field="*{officeLocation}"
               class="form-control mb-4 w-25" placeholder="Office Location" />
        Shift Details
        <input type="text" th:field="*{shiftDetail}"
               class="form-control mb-4 w-25" placeholder="Shift Detail" />
        Mode Of Work
        <input type="text" th:field="*{modeOfWork}"
               class="form-control mb-4 w-25" placeholder="Mode of Work (i.e. WFH, Site Visit .." />
        Misc. Note / Remarks
        <input type="text" th:field="*{note}"
               class="form-control mb-4 w-25" placeholder="Misc. Note / Remarks" />

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/employeesAttendance/listAttendance}">Back to Employees Attendance List</a>

</div>
</body>
</html>