<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Employees Attendance Directory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>

<div class="container">

    <h3>Employees Attendance Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/employeesAttendance/showFormCreateAttendance}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee Attendance
    </a>
    <tr>
        <td>
            <form th:action="@{/employeesAttendance/searchByDate}" method="get">
                <label for="attendanceDate" class="form-label">Attendance Date : </label>
                <input type="date" name="attendanceDate" th:value="*{attendanceDate}"
                       class="form-control mb-4 w-25" id="attendanceDate" placeholder="Attendance Date">
                <button type="submit" class="btn btn-info">Search</button>
                <button type="submit" class="btn btn-info">Reset</button>
            </form>
        </td>

        <td>
            <form th:action="@{/employeesAttendance/searchByDateRange}" method="get">
                <label for="fromAttendanceDate" class="form-label">From Date : </label>
                <input type="date" name="fromAttendanceDate" th:value="*{fromAttendanceDate}"
                       class="form-control mb-4 w-25" id="fromAttendanceDate" placeholder=" From Attendance Date">

                <label for="toAttendanceDate" class="form-label">To Date : </label>
                <input type="date" name="toAttendanceDate" th:value="*{toAttendanceDate}"
                       class="form-control mb-4 w-25" id="toAttendanceDate" placeholder=" To Attendance Date">

                <button type="submit" class="btn btn-info">Search</button>
                <button type="submit" class="btn btn-info">Reset</button>

            </form>
        </td>
        <td>
            <form th:action="@{/employeesAttendance/search}" method="get">
                <input type="text" name="keyword" th:value="${keyword}"
                       placeholder="Find by Employee ID, Employee Name, Office Location  " size="50">
                <button type="submit" class="btn btn-info">Search</button>
                <button type="submit" class="btn btn-info">Reset</button>
            </form>
        </td>
    </tr>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Attendance Date</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Office Location</th>
            <th>Shift Detail</th>
            <th>Mode of Work</th>
            <th>Note(Misc.)</th>
            <th sec:authorize="hasRole('ADMIN')">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmployeeAttendance : ${employeesAttendance}">
            <td th:text="${tempEmployeeAttendance.attendanceId}"/>
            <td th:text="${tempEmployeeAttendance.employee}"/>

            <!-- <td th:text="${#dates.format(tempEmployeeAttendance.attendanceDate, 'dd.MM.yyyy')}" />
             <td th:text="${#temporals.format(tempEmployeeAttendance.checkinTime, 'dd-MM-yyyy HH:mm')}" />

             <td th:text="${#temporals.format(sprint.releaseDate, 'dd-MM-yyyy HH:mm')}">30-12-2021 23:59</td>
            -->
            <!--
           Add Time Line / ProgressBar
           -->
            <td th:text="${tempEmployeeAttendance.attendanceDate}"/>
            <td th:text="${tempEmployeeAttendance.checkinTime}"/>
            <td th:text="${tempEmployeeAttendance.checkoutTime}"/>


            <td th:text="${tempEmployeeAttendance.officeLocation}"/>
            <td th:text="${tempEmployeeAttendance.shiftDetail}"/>
            <td th:text="${tempEmployeeAttendance.modeOfWork}"/>
            <td th:text="${tempEmployeeAttendance.note}"/>

            <!-- Add update button/link -->
            <td sec:authorize="hasRole('ADMIN')">

                <a th:href="@{/employeesAttendance/showAttendanceFormForUpdate(employeeId=${tempEmployeeAttendance.employeeId})}"
                   class="btn btn-info btn-sm">
                    Update Attendance
                </a>

                <!-- Add "delete" button/link -->
                <a th:href="@{/employeesAttendance/delete(employeeId=${tempEmployeeAttendance.employeeId})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee Attendance Record?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>